* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --text-color: #FFFFFF;
}

body {
  background-image: url("/images/bg_home.png");
  background-size: cover;

  font-family: 'Roboto', sans-serif;
  color: var(--text-color);

  display: grid;
  min-height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
}

.mainPages {
  margin: 9rem 40rem 30rem 10rem;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 2.4rem;
  line-height: 2.2rem;
  color: #C4C4CC;
  padding: 5rem;
}

nav a {
  margin: 0 3.6rem;
  text-decoration: none;
  color: #C4C4CC;
}

#text {
  font-size: 4rem;
  margin-bottom: 4rem;
}

#pagesText {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 145%;
}

#mainButton {
  display: flex;
  justify-content: space-around;
}

.initialButton {
  border: 2px solid #FFFFFF;
  border-radius: .5rem;
  padding: 1.2rem 5.2rem;

  font-weight: 700;
  font-size: 1.7rem;
  cursor: pointer;
  margin-top: 3rem;
  background-color: transparent;
  color: var(--text-color);
  text-decoration: none;
}

.initialButton:hover {
  background-color: #FFFFFF;
  color: #02799D;
}